@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
.hero-section {
  background-color: #ffe4d6;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  /* margin-bottom: 40px; */
}
.hero-section::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  background-image: linear-gradient(45deg, #ffcdb2 25%, transparent 25%),
    linear-gradient(-45deg, #ffcdb2 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ffcdb2 75%),
    linear-gradient(-45deg, transparent 75%, #ffcdb2 75%);

  background-size: 120px 120px;
  background-position: 0 0, 0 60px, 60px -60px, -60px 0px;
  transform: rotate(5deg) scale(1.2);
  transform-origin: center;
  filter: url("#turbulence");

  animation: movePattern 20s linear infinite;
}
@keyframes movePattern {
  0% {
    background-position: 0 0, 0 60px, 60px -60px, -60px 0px;
  }
  100% {
    background-position: 120px 120px, 120px 180px, 180px 60px, 60px 120px;
  }
}
.hero-section-heading {
  position: relative;
  text-align: center;
  max-width: 100%;
}

.hero-section-heading-image1,
.hero-section-heading-image2 {
  position: absolute;
  object-fit: contain;
}

.hero-section-heading-image1 {
  top: -100px;
  right: 20px;
  width: 200px;
}

.hero-section-heading-image2 {
  top: -10px;
  left: -10px;
  width: 100px;
  transform: scaleX(-1);
}

.hero-section-heading h1 {
  font-size: clamp(7em, 10vw, 10em);
  color: #e35734;
  -webkit-text-stroke: 8px #750500;
  margin: 0;
  max-width: 100%;
  /* width: 200px; */
  font-family: "StandieFont", sans-serif;
  text-shadow: -10px 10px #e35734;
  text-wrap: wrap;
  line-height: 80%;
  margin-bottom: 40px;
}
.countdown-container {
  z-index: 1000;
  margin-top: 50px;
}
.countdown {
  display: flex;
  gap: 1em;
}

.time-section {
  display: flex;
  flex-direction: column;
  border: 2px solid #4f291e;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #4f291e;
}

.time-label {
  color: var(--brand-color);
  padding: 10px 24px;
  text-align: center;
  font-family: "Orbitron", serif;
  font-weight: 1000;
  font-size: 1.5rem;
  /* font-size: 5px; */
  border-radius: 2px 2px 0 0;
}

.time-value {
  background: white;
  padding: 10px 0;
  text-align: center;
  font-size: 2rem;
  font-family: "Orbitron", serif;
  font-style: oblique;
  font-weight: 1000;

  color: var(--brand-color);
}
.cta-button {
  border: none;
}
#days .time-label {
  background-color: #e35734;
  border-bottom: 2px solid #4f291e;
}
#hours .time-label {
  background-color: #f2bf41;
  border-bottom: 2px solid #4f291e;
}
#minutes .time-label {
  background-color: #c17747;
  border-bottom: 2px solid #4f291e;
}
#seconds .time-label {
  background-color: #e4d9ba;
  border-bottom: 2px solid #4f291e;
}
.hero-section-cta {
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}
.cta-button:hover {
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .hero-section-heading-image1,
  .hero-section-heading-image2 {
    width: 120px;
    height: 120px;
    top: -20px;
  }

  .hero-section-heading-image1 {
    right: -5%;
  }

  .hero-section-heading-image2 {
    left: -5%;
  }

  .countdown .label {
    font-size: 0.8em;
  }
  .countdown {
    gap: 0.5em;
  }
  .time-label {
    padding: 4px 8px;
    font-size: 1.2rem;
  }
  .time-value {
    padding: 8px 10px;
  }
  .hero-section-cta {
    justify-content: center;
  }
  .sunflower-mascot {
    display: none;
  }
  .cta-button {
    width: 50%;
  }
}
